body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    margin: 0px;
    position: relative;
    min-height: 100vmin;
}
h1, h2, .project span {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    overflow-y: auto;
    margin: 0em 0em 1em 0em;
    padding: 0em;
    background-color: white;
    max-width:100%;
}